<p><%=notice%></p>
<p><%=alert%></p>


<div>
  <div>
    <h1>
      List of photos
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new photo
    </h2>

    <form action="/insert_photo" method="post">
     <div>
        <label for="image_box">
          Image
        </label>
        <input type="file" id="browser_input" name="query_image" placeholder="Enter a URL for the image...">
      </div>
      <div>
        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption" rows="3" placeholder="Enter a caption for the photo...">
    </textarea>
      </div>

    

      <div>
        <label for="owner_id_box">
      
        </label>

        <input type="hidden" id="owner_id_box" name="query_owner_id">
      </div>

      <button>
        Add photo
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

    <th>
          Image
        </th>
        <th>
          Caption
        </th>

        <th>
          Owner
        </th>

        <th>
          Posted
        </th>

        <th>
          Likes
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>
        <td>
           <img src="<%=a_photo.image%>">
        </td>

        <td>
          <%= a_photo.caption %>
        </td>


        <td>
          <%= a_photo.poster.username %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %>
        </td>

 <td>
          <%= a_photo.likes_count%>
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
