<p><%=notice%></p>
<p><%=alert%></p>

<div>
  <div>
    <h1>
      List of photos
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
   <%if session.fetch(:user_id)!=nil%>   
    <h2>
      Add a new photo
    </h2>

    <form action="/insert_photo" method="post" class="form-horizontal" enctype="multipart/form-data">
     <div>
        <label for="browser_input">
          Image
        </label>
        <input type="file" id="browser_input" name="query_image" placeholder="Enter a URL for the image...">
      </div>
      <div>
        <label for="browser_caption">
          Caption
        </label>

        <textarea id="browser_caption" name="query_caption" rows="3" placeholder="Enter a caption for the photo...">
    </textarea>
      </div>
      <button>
        Add photo
      </button>
    </form>
   <%end%>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

    <th>
          Image
        </th>
        <th>
          Caption
        </th>

        <th>
          Owner
        </th>

        <th>
          Posted
        </th>

        <th>
          Likes
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
<%if a_photo.poster.private == false%>
      <tr>
        <td>
           <img src="<%=a_photo.image%>" class="img-responsive">
        </td>

        <td>
          <%= a_photo.caption %>
        </td>


        <td>
          <%= a_photo.poster.username %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %>
        </td>

 <td>
          <%= a_photo.likes_count%>
        </td>


 <%if session.fetch(:user_id)!=nil%>   
        <td>
          <a href="/photos/<%=a_photo.id %>">
            Show details
          </a>
        </td>

        <%else%>
  <td>
          <a href="/user_sign_in">
            Show details
          </a>
        </td>

        <%end%>
      </tr>
      <%end%>
      <% end %>
    </table>
  </div>
</div>



<hr>
