<h1>List of users</h1>

<table border="1">
  <tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>

    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.username %>
      </td>

      <td>
        <% if user.private != false %>
          Yes
        <% else %>
          No
        <% end %>
      </td>

      <td>
        <% if @current_user.present? %>
          <% follow_request = FollowRequest.where({ :sender_id => @current_user.id, :recipient_id => user.id }).at(0) %>

          <% if follow_request == nil %>
            <form action="/insert_follow_request" method="post">
              <input type="hidden" name="query_recipient_id" value="<%= user.id %>">

              <button>
                Follow
              </button>
            </form>
          <% elsif follow_request.status == "pending" %>
            Request sent.

            <a href="/delete_follow_request/<%= follow_request.id %>">
              Cancel
            </a>
          <% elsif follow_request.status == "accepted" %>
            <a href="/delete_follow_request/<%= follow_request.id %>">
              Unfollow
            </a>
          <% end %>
        <% end %>
      </td>

      <td>
        <a href="/users/<%= user.username %>">Show details</a>
      </td>
    </tr>
  <% end %>
</table>
