<h1>
      <%= @the_user.username %> 
    </h1>

<dl>
  <dt>Private</dt>
  
  <dd><%=@the_user.private%></dd>

  <dt>Followers</dt>
  <dd> <%=@the_user.followers.count%> </dd>
    
    <%if session.fetch(:user_id)!=@the_user.id%>   
<div>
<form action="/insert_follow_request" method="post">
<input type="hidden" name="query_recipient_id" value="98">
<input type="hidden" name="query_sender_id" value="98">
            <button>
              Follow
            </button>
          </form>
    </div>
<%else%>
Pending follow requests
<%end%>
  </dd>

  <dt>Following</dt>
  <dd><%=@the_user.leaders.count%></dd>

<%if session.fetch(:user_id)==@the_user.id%>   
<dt>Edit user</dt>
<div>
 <form action="/modify_user" method="post">
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="query_username" placeholder="Enter a username..."
        value="<%=session.fetch(:user_id)%>">

      <label for="browser_private">Private?</label>
      <input id="browser_private" type="checkbox" name="query_private" >

      <button>Update user</button>
      </form>
    </div>
<%end%>


</dl>

<nav>
  <ul>
    <li>
      <a href="/users/<%=@the_user.username%>">Profile</a>
    </li>
    <li>
      <a href="/users/<%=@the_user.username%>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%=@the_user.username%>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%=@the_user.username%>/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Own photos (<%=@the_user.own_photos.count%>)</h2>


<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>

<% @the_user.own_photos.each do |a_photo|%>


<tr>
    <td>
      <img src="<%=a_photo.image%>">
    </td>

    <td>
      <%=a_photo.poster.username%>
    </td>

    <td>
      <%=a_photo.caption%>
    </td>

    <td>
       <%= time_ago_in_words(a_photo.created_at) %> ago
    </td>

    <td>
      <%=a_photo.likes.count%>
    </td>

    <td>
      <a href="/photos/<%=a_photo.id%>">
        Show details
      </a>
    </td>
  </tr>
  <%end%>
</table>
